---
layout: error_page
title: error401
---
{% assign self = site.data.pages[page.title] %}
<div class="row on-center">
  <div class="col-md-12 col-lg-12">
    <div class="jumbotron">
      <h1><i class="fa fa-exclamation-triangle red"></i> {{self.title}}</h1>
      <p class="lead">{{self.lead}}<em><span id="display-domain"></span></em>.</p>
      <p><a onclick=javascript:checkSite(); class="btn btn-default btn-lg green">Take Me To The Homepage</a></p>
    </div>
  </div>
  <div class="col-md-6">
    <h2>What happened?</h2>
    <p class="lead">The request has not been applied because it lacks valid authentication credentials for the
      target resource.
    </p>
  </div>
  <div class="col-md-6">
    <h2>What can I do?</h2>
    <p class="lead">If you're a site visitor</p>
    <p>Please use your browsers back button and check that you're in the right place. If you need immediate assistance, please send us an email instead.</p>
    <p class="lead">If you're the site owner</p>
    <p>Please check that you're in the right place and get in touch with your website provider if you believe this to be an error.</p>
  </div>
</div>
