---
layout: error_page
title: error533
---
{% assign self = site.data.pages[page.title] %}
<div class="row on-center">
  <div class="col-md-12 col-lg-12">
    <div class="jumbotron">
      <h1 style="font-size:2.5em"><i class="fa fa-cogs green"></i> {{self.title}}</h1>
      <p class="lead">{{self.lead}}</p>
      <a href="javascript:document.location.reload(true);" class="btn btn-default btn-lg text-center">
        <span class="green">Try This Page Again</span>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <h2>What happened?</h2>
    <p class="lead">Servers and websites need regular maintenance just like a car to keep them up and running smoothly.</p>
  </div>
  <div class="col-md-6">
    <h2>What can I do?</h2>
    <p class="lead">If you're a site visitor</p>
    <p>If you need immediate assistance, please send us an email instead. We apologize for any inconvenience.</p>
    <p class="lead">If you're the site owner</p>
    <p>The maintenance period will mostly likely be very brief, the best thing to do is to check back in a few minutes and everything will probably be working normal again.</p>
  </div>
</div>