{% assign self = site.data.pages[page.title] %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.title }}">
    <title>{{ self.title }}</title>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w="
		crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
		crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ '/css/style.css' | prepend:site.baseurl }}" />
    <link rel="stylesheet" type="text/css" href="{{ '/css/particles.css' | prepend:site.baseurl }}" />
    <style>
        /* Error Page Inline Styles */
        body {
            padding-top: 0;
            margin: 0;
            font:normal 100% Arial, Helvetica, sans-serif;
        }
        /* Layout */

        /* Everything but the jumbotron gets side spacing for mobile-first views */
        .masthead, .body-content, {
            padding-left: 15px;
            padding-right: 15px;
        }
        /* Main marketing message and sign up button */
        .jumbotron {
            text-align: center;
            background-color: transparent;
        }
        .jumbotron .btn {
            font-size: 21px;
            padding: 14px 24px;
        }
        /* Colors */
        .green {color:#5cb85c;}
        .orange {color:#f0ad4e;}
        .red {color:#d9534f;}
    </style>
    <script type="text/javascript">
        function loadDomain() {
            var display = document.getElementById("display-domain");
            display.innerHTML = document.domain;
        }
    </script>
</head>
<body onload="javascript:loadDomain();">
<div id="particles-js"></div>
<!-- Error Page Content -->
<div class="container-fluid">
    {{content}}
</div>
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 hidden-xs">
                <div class="pull-left">
                    <a href="mailto:{{ site.data.social.email }}" title="Contact me">Contact me</a>
                </div>
            </div>
            <div class="col-xs-6 hidden-xs">
                <div class="pull-right" id="footer-social-icons">
                    <a href="{{site.data.social.instagram_url}}" target="_blank">
                        <i class="fa fa-instagram fa-icon"></i>
                    </a>
                    <a href="{{site.data.social.twitter_url}}" target="_blank">
                        <i class="fa fa-twitter-square fa-icon"></i>
                    </a>
                    <a href="{{site.data.social.facebook_url}}" target="_blank">
                        <i class="fa fa-facebook-square fa-icon"></i>
                    </a>
                    <a href="{{site.data.social.youtube_url}}" target="_blank">
                        <i class="fa fa-youtube-square fa-icon"></i>
                    </a>
                    <a href="{{site.data.social.linkedin_url}}" target="_blank">
                        <i class="fa fa-linkedin-square fa-icon"></i>
                    </a>
                    <a href="{{site.data.social.bitbucket_url}}" target="_blank">
                        <i class="fa fa-bitbucket-square fa-icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Error Page Content -->
<!--Scripts-->
<!-- jQ/uery library -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" 
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ '/js/init.js' | prepend:site.baseurl }}"></script>
</body>
</html>
